<!DOCTYPE html>

<head>
    <title>Chandalupambo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Concert+One|Pacifico|Patua+One|Righteous|Ropa+Sans|Sacramento"
        rel="stylesheet">

    <style>
        #logo {
            font-family: 'Righteous'
        }
    </style>
</head>
<div class="navbar-fixed">
    <nav class="z-depth-4 blue">
        <div class="nav-wrapper">
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a id="logo" href="#" class="brand-logo"> Chanda</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">About Me</a></li>
                  <li><a href="/about"> Me as a person</a></li>
                <li><a href="/projects" >My Projects<i class='material-icons left'>arrow_drop_down</i></a></li>
                <li><a href="/skills">My Skills</a></li>
            </ul>
        </div>
    </nav>
 </div>
    <ul id="slide-out" class="sidenav">
    
        <li><a href="/about"><i class="material-icons">info</i>About Me</a></li>
        <li><a href="/projects"><i class="material-icons">web</i>My Projects</a></li>
    
        <li><a class="waves-effect" href="/skills"><i class="material-icons">flash_on</i>Skills</a></li>
    </ul>



      <div class="container">
        <!-- Page Content goes here -->

 

<h1 style="font-weight: bold; font-family'Alfa Slab One' "class="center-align teal-text ">About</h1>



<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis quis quae quibusdam sunt quod doloremque earum,
    numquam, maiores tempora eos harum quam odio, recusandae omnis unde debitis dicta. Quasi, quaerat? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Voluptates expedita illum eligendi ipsa ratione quae ullam quaerat,
    autem sed sit pariatur nisi maxime id blanditiis officiis laboriosam labore nobis placeat? Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Repudiandae maiores nesciunt consectetur id temporibus maxime ut sequi, velit
    accusantium eveniet voluptatum quam eos obcaecati odio reprehenderit eaque veritatis inventore quaerat. Lorem ipsum
    dolor, sit amet consectetur adipisicing elit. Dolores accusantium similique magni qui atque, quo illum? Excepturi
    cupiditate, laudantium exercitationem minima repellat vel neque distinctio, possimus consequatur veniam eos. Nobis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In nemo quo repellat quaerat possimus esse eius
    dignissimos, quis maxime dolorem necessitatibus sed dicta voluptatibus, neque sapiente. Sit dolor ipsum quas. Lorem
    ipsum dolor, sit amet consectetur adipisicing elit. Repellendus aliquam facilis vero natus ipsum quaerat atque
    laboriosam, consectetur temporibus fuga et minima vitae molestias cum expedita maxime quo, officiis in? Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Quia et sint velit at harum aperiam, quisquam distinctio in deleniti
    sapiente facere praesentium saepe quis impedit similique perspiciatis accusantium quidem quas? Lorem ipsum, dolor
    sit amet consectetur adipisicing elit. Est maxime laborum aut architecto iure fugiat, modi iusto provident!
    Blanditiis autem laboriosam officiis veritatis modi sed, reprehenderit facilis fugit velit alias. Lorem ipsum dolor
    sit, amet consectetur adipisicing elit. Consequatur, laborum! Reprehenderit eos natus modi similique, quod
    recusandae dicta provident voluptatibus minus et, commodi ducimus inventore aperiam rerum alias assumenda. Quam.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum laboriosam excepturi accusamus. Odio, repellat
    ratione. Aliquid, repellat eaque. Numquam assumenda earum exercitationem alias deleniti quas rerum ullam, eius
    aliquid aperiam! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium quis nam ut doloremque illo
    neque sequi eligendi perferendis itaque impedit commodi adipisci voluptatibus architecto dolor, suscipit, beatae
    veritatis quasi exercitationem! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ab inventore,
    voluptate perferendis animi ipsum quod in aut enim illo incidunt magnam, eligendi iure, ducimus eum cum laboriosam
    saepe fugiat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, eos. Necessitatibus suscipit quas
    consectetur nemo magni ex quo dolores nulla eaque eum, earum harum modi? Maiores necessitatibus officiis
    accusantium maxime. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, ipsa. Tempore non error
    facilis, expedita ullam, nostrum similique maxime rem quos necessitatibus placeat ducimus? Ullam ipsum deleniti
    eveniet quibusdam exercitationem! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus velit ullam
    distinctio odio, nam deserunt consectetur. Fuga alias quaerat dolorum accusantium, dolor reprehenderit voluptatum
    eius eligendi recusandae! Provident, nulla eos. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem
    dolorum, optio ea quis deleniti facilis assumenda numquam fugiat mollitia aliquam excepturi doloremque hic?
    Mollitia accusantium omnis aperiam maiores magni architecto. lorem Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Nulla velit unde dolorum cumque iure error tempora quisquam beatae, accusantium voluptatum,
    recusandae alias illum voluptatibus molestiae illo aut. Saepe, ea vero!</p>
      </div>

      <footer style="margin-top: 200px" class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">Chanda Lupambo</h5>
                    <p class="grey-text text-lighten-4">I am a 13 year old South African with huge ambitions and dreams of being a successful Entrepenuer, author and more!</p>


                </div>
               
                <div class="col l4  s12">
                    <h5 class="white-text">Products</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Edu-Eezi</a></li>
                        <li><a class="white-text" href="#!">Work-It</a></li>
                        <li><a class="white-text" href="#!">Social Blaze</a></li>
                        <li><a class="white-text" href="#!">Mindful</a></li>
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Instagram Account</a></li>
                        <li><a class="white-text" href="#!">Youtube Channel</a></li>
                        <li><a class="white-text" href="#!">Facebook Account</a></li>
                        <li><a class="white-text" href="#!">Twitter Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Chanda</a>
            </div>
        </div>
    </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    $(document).ready(function () {
      $('.parallax').parallax();
      $('.tap-target').tapTarget('open');
      $('.tabs').tabs();
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown();
    });


  </script>

</body>