<html>
<!DOCTYPE html>

<head>
    <title>Chandalupambo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Concert+One|Pacifico|Patua+One|Righteous|Ropa+Sans|Sacramento"
        rel="stylesheet">

    <style>
        #logo {
            font-family: 'Righteous'
        }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="z-depth-4 blue">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a id="logo" href="#" class="brand-logo"> Chanda</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">About Me</a></li>
                    <li><a href="/about"> Me as a person</a></li>
                    <li><a href="/projects">My Projects<i class='material-icons left'>arrow_drop_down</i></a></li>
                    <li><a href="/skills">My Skills</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav">

        <li><a href="/about"><i class="material-icons">info</i>About Me</a></li>
        <li><a href="/projects"><i class="material-icons">web</i>My Projects</a></li>

        <li><a class="waves-effect" href="/skills"><i class="material-icons">flash_on</i>Skills</a></li>
    </ul>


    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 style="font-family: Sacramento" class=" header center white-text text-lighten-2">About Me</h1>
                <div class="row center">


                    <h5 id="subHeaderText" style="font-family: Alfa Slab One" class="header col s12 white-text light"></h5>
                </div>
                <div class="row center">

                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="background.jpg" alt="Unsplashed background img 1"></div>
    </div>


    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center"> Hire me</h5>

                        <p class="light center-align ">I can create a website, web app or a mobile application. click
                            <br><a href="#modal1" class="btn pulse modal-trigger">HIRE</a></p>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Interesting facts</h5>

                        <p class="light center-align"> <strong> <br> 13 year old developer <br> Speak some spanish <br>Love
                                rap <br> Love Chess <br> Swimming is my favourite sport<br> gold is my fav <br> Kappa
                                and Bentley!<br> Designer<br> Love conversation</strong></p>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">

            </div>
        </div>
        <div class="parallax"><img src="background.jpg" alt="Unsplashed background img 2"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Contact Me</h4>
                    <p class="left-align light center-align">At this point you can find me as <a href="https://www.instagram.com/big_huncho_jack/?hl=en">@big_huncho_jack</a>
                        & <a href="https://www.instagram.com/lil_huncho_jack/?hl=en">@lil_huncho_jack</a> on instagram</p>
                </div>
            </div>

        </div>
    </div>



    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="teal-text center-align">HIRE</h4>
            <p class="center-align">Enter the following to submit a request</p>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input type="text" id="email" class="autocomplete">
                        <label for="autocomplete-input">email address</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <input type="text" id="project" class="autocomplete">
                        <label for="autocomplete-input">Project you want. e.g Website</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">info</i>
                        <input type="text" id="info" class="autocomplete">
                        <label for="autocomplete-input">other information</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">group</i>
                        <input type="text" id="name" class="autocomplete">
                        <label for="autocomplete-input">Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">money </i>
                        <input type="text"  id="budget"class="autocomplete">
                        <label for="autocomplete-input">budget[dollars or rands]</label>
                    </div>

                    <div class="center-align">
                        <button class="btn pulse">
                            Send <i class="material-icons left">send</i>
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header white-text col s12 light"></h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="background.jpg" alt="Unsplashed background img 3"></div>
    </div>

    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4><a href="http://www.sabc.co.za/sabc/">SABC </a>Interviews</h4>

                    <div class="row">
                        <div class="col l6">
                            <div style="border-radius: 20px;" class="z-depth-5 video-container">
                                <iframe width="853" height="480" src="   //www.youtube.com/embed/6zGB0BYXbmE?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col l6">
                            <div style="border-radius: 20px;" class="z-depth-5 video-container">
                                <iframe width="853" height="480" src="   //www.youtube.com/embed/bfGyfzJRIhA?rel=0"
                                    frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>

                    <h4>Gallery </h4>
                    {{!--

                    <div class="carousel carousel-slider">
                        <a class="carousel-item" href="#one!"><img src="adidas.jpg"></a>
                        <a class="carousel-item" href="#two!"><img src="blackbanda.jpg"></a>
                        <a class="carousel-item" href="#three!"><img src="red-kappa.jpg"></a>
                        <a class="carousel-item" href="#four!"><img src="bluebanda.jpg"></a>
                        <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
                    </div> --}}
                </div>
            </div>

        </div>
    </div>

    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">Chanda Lupambo</h5>
                    <p class="grey-text text-lighten-4">I am a 13 year old South African with huge ambitions and dreams
                        of being a successful Entrepenuer, author and more!</p>


                </div>

                <div class="col l4  s12">
                    <h5 class="white-text">Products</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Edu-Eezi</a></li>
                        <li><a class="white-text" href="#!">Work-It</a></li>
                        <li><a class="white-text" href="#!">Social Blaze</a></li>
                        <li><a class="white-text" href="#!">Mindful</a></li>
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Instagram Account</a></li>
                        <li><a class="white-text" href="#!">Youtube Channel</a></li>
                        <li><a class="white-text" href="#!">Facebook Account</a></li>
                        <li><a class="white-text" href="#!">Twitter Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Chanda</a>
            </div>
        </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>


<script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('.sidenav').sidenav();
        $('.dropdown-trigger').dropdown();
        $('.carousel').carousel();
        $('.modal').modal();
    });




</script>

<script>
    var i = 0;
    var txt = 'I am an Entrepenuer, Designer, Web Developer, Author, Video Editor, Musician, Free Lancer, Android Developer, Animater, iOS Developer , Athlete, Teacher, Photographer, Poet, Student, Machine Learning Engineer, Data Scientist, Tech Fanatic, Udemy Instructor and Student.'; /* The text */
    var speed = 80; /* The speed/duration of the effect in milliseconds */

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("subHeaderText").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }

    typeWriter();
</script>

<script>

    var slider = document.getElementById('test-slider');
    noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        step: 1,
        orientation: 'horizontal', // 'horizontal' or 'vertical'
        range: {
            'min': 0,
            'max': 100
        },
        format: wNumb({
            decimals: 0
        })
    });

</script>

<script>
    
</script>

</html>