<!DOCTYPE html>
<html>

<head>
  <title>Chandalupambo</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Concert+One|Pacifico|Patua+One|Righteous|Ropa+Sans|Sacramento"
    rel="stylesheet">

  <style>
    #logo {
      font-family: 'Pacifico';
    }
  </style>
</head>

<body>
<div class="navbar-fixed">
  <nav class="  z-depth-5 blue nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Chanda</a>
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">About</a></li>
        <li><a href="/about">Me as a person</a></li>
        <li><a href="/skills">Skills</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#allProjects">All Projects</a></li>
        <li class="tab"><a class="" href="#mobileApps">Mobile Apps</a></li>
        <li class="tab "><a href="#websites">Websites</a></li>
        <li class="tab"><a href="#videos">Videos</a></li>
        <li class="tab"><a href="#book">Book</a></li>
        <li class="tab"><a href="#myBusiness">My Business</a></li>
        <li class="tab"><a class="" href="#music">Music</a></li>
        <li class="tab "><a href="#animations">Animations </a></li>
        <li class="tab"><a href="#student">Student</a></li>
        <li class="tab"><a href="#account">Accounts</a></li>
        <li class="tab"><a href="#gallery">Gallery</a></li>
      </ul>
    </div>
  </nav>
</div>
  <ul id="slide-out" class="sidenav">

    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>




  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Websites</a></li>
    <li><a href="#!">Mobile Apps</a></li>
    <li><a href="#!">Photoshops & designs</a></li>
    <li><a href="#!">Business </a></li>
    <li><a href="#!">Free lancing</a></li>
    <li><a href="#!">Animations</a></li>
    <li><a href="#!">Videos</a></li>
    <li><a href="#!">Other...</a></li>
  </ul>


  <div id="allProjects" class="col s12">
    <div class="row">
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img height="300px" src="edueezi.jpg">
            <span style="font-family: Pacifico" class="card-title white-text ">Edu-Eezi</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">info</i></a>
          </div>
          <div class="card-content">
            <p>Edu-eezi is aiming to be the biggest education platform ever, allowing income earning. Release: <strong>Early
                2019</strong></p>
          </div>
        </div>

      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img height="300px" src="ballpen.jpg">
            <span class="card-title">Time-nomoly</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Time Nomoly is an application to allow users to better manage their time. Release: <strong>Late 2020</strong></p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img height="300px" src="socialBlaze.jpg">
            <span class="card-title">Social Blaze</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Social Blaze is a social application allowing users to link up with friends extremely quickly, chat, share and play. Release: <strong>Late 2019</strong></p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img height="300px" src="main.jpg">
            <span class="card-title">Work It</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>Work It is an application For teachers and parents to allow them to create, download and use worksheets.
              Release: <strong>Late 2019</strong></p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="workit.jpg">
            <span class="card-title">Mind-full</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
              require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img height="300px" src="book.jpg">
            <span class="card-title">Book - Precious Time</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>My first book about how to not waste your time and use your time effectively and wisely. Release: <strong>Late 2019</strong></p>
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="workit.jpg">
            <span class="card-title">Mind-full</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
              require little markup to use effectively.</p>
          </div>
        </div>
      </div>
  
    </div>
  </div>

  <div id="websites" class="col s12">
    <div class="row">
      <div class="col l3 s12 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://pixelz.cc/wp-content/uploads/2018/11/microsoft-surface-book-2-uhd-4k-wallpaper.jpg">
        </div>
        <div class="card-content">
          <span style="font-family: 'Pacifico'" class="card-title activator teal-text ">Edu-Eezi<i class="material-icons right">more_vert</i></span>
          <p><a href="#">More.</a></p>
        </div>
        <div class="card-reveal">
          <span style="font-family: 'Pacifico'" class="card-title teal-text ">Edu-eezi<i class="material-icons right">close</i></span>
          <p>Edu-eezi is a website for schools and users to allow better communication, income flow, analytics, and
            more. The estimated release data of Edu-eezi is late October 2019!</p>
        </div>
      </div>
    </div>
  </div>
  <div id="videos" class="col s12">

  </div>
  <div id="myBusiness" class="col s12">
    <div class="row">
      <div class="col l3 s12 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://pixelz.cc/wp-content/uploads/2018/11/microsoft-surface-book-2-uhd-4k-wallpaper.jpg">
        </div>
        <div class="card-content">
          <span style="font-family: 'Pacifico'" class="card-title activator teal-text ">Edu-Eezi<i class="material-icons right">more_vert</i></span>
          <p><a href="#">More.</a></p>
        </div>
        <div class="card-reveal">
          <span style="font-family: 'Pacifico'" class="card-title teal-text ">Edu-eezi<i class="material-icons right">close</i></span>
          <p>Edu-eezi is a website for schools and users to allow better communication, income flow, analytics, and
            more. The estimated release data of Edu-eezi is late October 2019!</p>
        </div>
      </div>
    </div>

  </div>
  <div id="mobileApps">
    <div class="row">
      <div class="col l3 s12 card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://pixelz.cc/wp-content/uploads/2018/11/microsoft-surface-book-2-uhd-4k-wallpaper.jpg">
        </div>
        <div class="card-content">
          <span style="font-family: 'Pacifico'" class="card-title activator teal-text ">Edu-Eezi<i class="material-icons right">more_vert</i></span>
          <p><a href="#">More.</a></p>
        </div>
        <div class="card-reveal">
          <span style="font-family: 'Pacifico'" class="card-title teal-text ">Edu-eezi<i class="material-icons right">close</i></span>
          <p>Edu-eezi is a website for schools and users to allow better communication, income flow, analytics, and
            more. The estimated release data of Edu-eezi is late October 2019!</p>
        </div>
      </div>
    </div>
  </div>
  <div id="music" class="col s12">


  </div>
  <div id="animations" class="col s12">


  </div>
  <div id="student" class="col s12">



  </div>
  <div id="book" class="col s12">


  </div>

  <div id="account" class="col s12">

  </div>
  <div id="gallery">
<div class="row">
       <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="bluebanda.jpg">
        
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
        
        </div>
      </div>
 
       <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="blackimg.jpg">

            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          
        </div>
      </div>
 
       <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="red-kappa.jpg">
   
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
    
        </div>
      </div>

       <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="estate.jpg">
          
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
         
        </div>
      </div>

 
       <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="adidas.jpg">

            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
        
        </div>
      </div>
  
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="code.jpg">
   
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="blackbanda.jpg">
      
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
         
        </div>
      </div>
  </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    $(document).ready(function () {
      $('.parallax').parallax();
      $('.tap-target').tapTarget('open');
      $('.tabs').tabs();
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown();
    });


  </script>

</html>