<!DOCTYPE html>
<html>
<head>
    <title>Chandalupambo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <style>
        #logo {
            font-family: 'Pacifico';
        }
    </style>
</head>

<body>

    <nav class="blue">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Chanda Lupambo</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">About Me</a></li>
                <li><a class="dropdown-trigger"  href="#" data-target="dropdown1">My Projects<i class='material-icons left'>arrow_drop_down</i></a></li>
                <li><a href="/skills">My Skills</a></li>
            </ul>
        </div>
    </nav>
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>
        

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text text-lighten-2">Web & Mobile Applications </h1>
                <div class="row center">


                    <h4 id="subHeaderText" class="header col s12 white-text light">
                </div>
                <div class="row center">

                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="https://wallpaperplay.com/walls/full/d/9/e/26991.jpg" alt="Unsplashed background img 1"></div>
    </div>


 
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.pixelstalk.net/wp-content/uploads/2016/10/Blank-Background-for-Desktop.jpg">
          <span id="logo" class="card-title">Edu-Eezi </span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">school</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
 
            


  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.pixelstalk.net/wp-content/uploads/2016/10/Blank-Background-for-Desktop.jpg">
          <span class="card-title">Work It<i class="material-icons left"></i></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">work</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>

            

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.pixelstalk.net/wp-content/uploads/2016/10/Blank-Background-for-Desktop.jpg">
          <span class="card-title">Social Blaze</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">whatshot</i></a>
        </div>
        <div class="card-content">
          <p>Social Blaze is a social application for all the...</p>
        </div>
      </div>
    </div>

            

    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="https://www.pixelstalk.net/wp-content/uploads/2016/10/Blank-Background-for-Desktop.jpg">
          <span class="card-title">Mindful</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">volume_off</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    $(document).ready(function () {
        $('.parallax').parallax();
        $('.tap-target').tapTarget('open');

  $('.dropdown-trigger').dropdown();
    });


</script>
</html>