<!DOCTYPE html>
<html>


<head>
    <title>Chandalupambo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Concert+One|Pacifico|Patua+One|Righteous|Ropa+Sans|Sacramento"
        rel="stylesheet">

    <style>
        #logo {
            font-family: 'Righteous'
        }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav class="z-depth-4 blue">
            <div class="nav-wrapper">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <a id="logo" href="#" class="brand-logo"> Chanda</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">About Me</a></li>
                    <li><a href="/about"> Me as a person</a></li>
                    <li><a href="/projects">My Projects<i class='material-icons left'>arrow_drop_down</i></a></li>
                    <li><a href="/skills">Resume</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav">

        <li><a href="/about"><i class="material-icons">info</i>About Me</a></li>
        <li><a href="/projects"><i class="material-icons">web</i>My Projects</a></li>

        <li><a class="waves-effect" href="/resume"><i class="material-icons">flash_on</i>Resume</a></li>
    </ul>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 style="font-family: 'Concert One'" class=" header center white-text text-lighten-2">Get A More
                    In-Depth look</h1>
                <div class="row center">

                    <h3 style="font-family: 'Concert One'" class=" header center white-text text-lighten-2">See what
                        I've accomplished over time</h3>

                </div>
                <div class="row center">

                </div>
                <br><br>

            </div>
        </div>
        <div class="parallax"><img src="background.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <div class="section">
        <div class="container">


            <div class="row">
                <div class="col s12 l4">
                    <h2 style="font-family: 'Concert One'">Technologies</h2>
                </div>
                <div class="col s12 l4">
                    <h5 style="font-family: 'Concert One'">Daily Comfort</h5>
                    <ul class="collection">
                        <li class="collection-item">Frontend Javascript</li>
                        <li class="collection-item">Materialize CSS & Bootstrap</li>
                        <li class="collection-item">Android with Java</li>
                        <li class="collection-item">iOS with Obj-C & Swift</li>
                        <li class="collection-item">NodeJS </li>
                        <li class="collection-item">ExpressJS</li>
                        <li class="collection-item">Ruby on rails(limited)</li>
                        <li class="collection-item">Python(sklearn, pandas, numpy & tenserflow)</li>

                        <li class="collection-item">Firebase</li>
                        <li class="collection-item">VS GIT</li>
                        <li class="collection-item">Photoshop / Premiere / Illustrator / After Effects</li>
                        <li class="collection-item">AJAX(limited)</li>
                        <li class="collection-item">PHP(experience)</li>


                    </ul>
                </div>
                <div class="col s12 l4">
                    <h5 style="font-family: 'Concert One'">Worked with - Experience</h5>
                    <ul class="collection">



                        <li class="collection-item">AJAX</li>
                        <li class="collection-item">PHP</li>

                        <li class="collection-item">C#</li>
                        <li class="collection-item">C++</li>
                        <li class="collection-item">Spring</li>
                        <li class="collection-item">React JS</li>


                    </ul>
                </div>


            </div>

            <div class="row">
                <div class="col s12 l4">
                    <h3 style="font-family: 'Concert One'" >
My Working Experience
                    </h3>
                </div>
                <div class="col s12 l8">
                    <h5 style="font-family: 'Concert One'">
                        Founder
                    </h5>
                    <h5><a>
                            Edu-Eezi
                    </a>
                    </h5>
                    <h6 style="font-family: 'Concert One'">
                        Edu-Eezi is my current business I am developing and the application's set release is late 2019. The application is aimed at providing a new platform for schools and users to be able to learn, create and share. It will make education even more social and allow people to earn an income from monetization and charging for courses
                    </h6>
                </div>
            </div>

            <div class="row">
                <div class="col s12 l4">
                    <h3 style="font-family: 'Concert One'" >
Achievements
                    </h3>
                </div>
                <div class="col s12 l4">
                    <h5 style="font-family: 'Concert One'">
                        Main Achievements
                    </h5>
                     <ul class="collection">
                        <li class="collection-item">Internation UCMAS champion</li>
                        <li class="collection-item">South Afrvi</li>
                        <li class="collection-item">Android with Java</li>
                        <li class="collection-item">iOS with Obj-C & Swift</li>
                        <li class="collection-item">NodeJS </li>
                        <li class="collection-item">ExpressJS</li>
                        <li class="collection-item">Ruby on rails(limited)</li>
                        <li class="collection-item">Python(sklearn, pandas, numpy & tenserflow)</li>

                        <li class="collection-item">Firebase</li>
                        <li class="collection-item">VS GIT</li>
                        <li class="collection-item">Photoshop / Premiere / Illustrator / After Effects</li>
                        <li class="collection-item">AJAX(limited)</li>
                        <li class="collection-item">PHP(experience)</li>


                    </ul>
                </div>
                <div class="col s12 l4">
                    <h5 style="font-family: 'Concert One'">
                        Other Achievements
                    </h5>
                     <ul class="collection">
                        <li class="collection-item">Frontend Javascript</li>
                        <li class="collection-item">Materialize CSS & Bootstrap</li>
                        <li class="collection-item">Android with Java</li>
                        <li class="collection-item">iOS with Obj-C & Swift</li>
                        <li class="collection-item">NodeJS </li>
                        <li class="collection-item">ExpressJS</li>
                        <li class="collection-item">Ruby on rails(limited)</li>
                        <li class="collection-item">Python(sklearn, pandas, numpy & tenserflow)</li>

                        <li class="collection-item">Firebase</li>
                        <li class="collection-item">VS GIT</li>
                        <li class="collection-item">Photoshop / Premiere / Illustrator / After Effects</li>
                        <li class="collection-item">AJAX(limited)</li>
                        <li class="collection-item">PHP(experience)</li>


                    </ul>
                </div>
            </div>
            
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header white-text col s12 light"></h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="background.jpg" alt="Unsplashed background img 3"></div>
    </div>
<footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">Chanda Lupambo</h5>
                    <p class="grey-text text-lighten-4">I am a 13 year old South African with huge ambitions and dreams
                        of being a successful Entrepenuer, author and more!</p>


                </div>

                <div class="col l4  s12">
                    <h5 class="white-text">Products</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Edu-Eezi</a></li>
                        <li><a class="white-text" href="#!">Work-It</a></li>
                        <li><a class="white-text" href="#!">Social Blaze</a></li>
                        <li><a class="white-text" href="#!">Mindful</a></li>
                    </ul>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Instagram Account</a></li>
                        <li><a class="white-text" href="#!">Youtube Channel</a></li>
                        <li><a class="white-text" href="#!">Facebook Account</a></li>
                        <li><a class="white-text" href="#!">Twitter Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Chanda</a>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>

        $(document).ready(function () {
            $('.parallax').parallax();
            $('.sidenav').sidenav();
            $('.dropdown-trigger').dropdown();
            $('.carousel').carousel();
            $('.modal').modal();
        });
    </script>




</body>

</html>